*{
    padding: 0;
    margin: 0;
}
body{
    align-items: center;
}
h1{
    font-size: 22px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
.body{    
    background:linear-gradient(to bottom right, #2b3a73, #c2cbd3, #f6f3ed );
    margin: 0;
    padding: 0;
    width: 1100px;
    height: 360px; 
    border-radius: 7em 3em 10em / 1em 5em;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
textarea{
    width: 450px;
}
.ikki{
    width: 650px;
}
textarea, .ikki{
    margin: 60px 30px 10px;
    padding: 7px;
    border: 2px double rgb(22, 22, 94);
    background-color: #edeef0;
    color: rgb(22, 22, 94);
    height: 250px;
    border-radius: 20px;
    font-size: 18px;
    overflow-y: auto;
    scrollbar-color: #f6f3ed #4d546f;
}
.btn{
    display: grid;
}
button{
    border: 2px double rgb(22, 22, 94);
    border-radius: 20px;
    background-color: #c2cbd3;
    color: rgb(22, 22, 94);
    width: 130px;
    height: 35px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#b1{
    margin-top: 100px;
}
#b2{
    margin: 0px 0px;
}
#b3{
    margin-bottom: 100px;
}
button:hover{
    background-color: #2b3a73;
    color: #f6f3ed;
}